.photo__grid {
padding: 0;
margin: 0 auto;
list-style: none;
display: grid;
justify-content: center;
grid-template-columns: repeat(4, minmax(auto, 284px));
gap: 16px;
}
@media (max-width: 1185px) {
  .photo__grid {
    grid-template-columns: repeat(3, minmax(auto, 300px));
    gap: 14px;
  }
}
@media (max-width: 768px) {
  .photo__grid {
    grid-template-columns: repeat(2, minmax(auto, 352px));
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 320px) {
  .photo__grid {
    grid-template-columns: 288px;
    gap: 16px;
    padding: 0;
  }
}