@font-face {
  font-family: "Inter";
  src:  url('../../fonts/Desktop/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src:  url('../../fonts/Desktop/Inter-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src:  url('../../fonts/Desktop/Inter-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
  }
  