.intro__list {
  padding: 0;
  padding-top: 33px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;  
  list-style: none;
}
@media (max-width: 320px) {
  .intro__list {
    padding-top: 34px; 
  }
}