.place__website_link {
  display: block;
  max-width: 456px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  text-transform: none;
  color: #FFFFFF;
}
.place__website_link:hover {
  opacity: 0.8;
  transition: 1s;
}