.cover-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 1;
  gap: 32px;
}
@media (max-width: 710px) {
  .cover-text {
    gap: 16px;
  }
}