.cover {
  width: 100%;
  max-width: 1184px;
  padding: 0;
  padding-top: 92px;
  margin: 0 auto;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}
@media (max-width: 320px) {
  .cover {
    padding-top: 66px;
  }
}

