.footer {
  width: 94%;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}
@media (max-width: 710px) {
  .footer {
    margin: 0;
    padding-top: 64px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    justify-content: flex-start;
  }
}
@media (max-width: 320px) {
  .footer {
    padding-left: 16px;
  }
}
