@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__row-links.css/header__row-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_underline/header__lang-link_underline.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitile.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_number/intro__list_number.css);
@import url(../blocks/photo/photo.css);
@import url(../blocks/photo/__grid/photo__grid.css);
@import url(../blocks/photo/__grid-item/photo__grid-item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/places-list/places-list.css);
@import url(../blocks/places/place/place.css);
@import url(../blocks/places/place/__title/place__title.css);
@import url(../blocks/places/place/__website/place__website.css);
@import url(../blocks/places/place/__website/-url/place__website-url.css);
@import url(../blocks/places/place/__website/-link/place__website-link.css);
@import url(../blocks/places/place/__image/place__image.css);
@import url(../blocks/places/place/__paragraph-list/place__paragraph-list.css);
@import url(../blocks/places/place/__paragraph/place__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/cover-text/cover-text.css);
@import url(../blocks/cover/cover-text/__title/cover-text__title.css);
@import url(../blocks/cover/cover-text/__subtitle/cover-text__subtitle.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__row-links/footer__row-links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@font-face {
  font-family: "Inter";
  src:  url('../fonts/InterWeb/Inter-Regular.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src:  url('../fonts/InterWeb/Inter-Black.woff');
  font-weight: 900;
  font-style: normal;
}